#conhecimentos{

    h2{
        animation: PeloLado 1ms ease-out;
        animation-timeline: view();
        animation-range: cover 0% cover 30%;
    }

    p{
        animation: PeloLado 1ms ease-out;
        animation-timeline: view();
        animation-range: cover 0% cover 20%;
    }

}

